{% extends 'base.html' %}

{% block content %}
{% include 'twitters/twitter-header.html' %}
<div class="container">
    <h1>Descarga Twitter</h1>
    <p>Explicacion Twitter</p>
    <hr class="my-4">

    <h2>Formulario</h2>
    <p>Rellene los datos del formulario para obtener la información</p>
    <form action='.' method='POST'>  {% csrf_token %}
        <div class="mb-3">
            {{ form }}
        </div>
        <input type='submit' value='Crear' class="btn btn-primary" />
    </form>
    <hr class="my-4">
</div>
{% endblock %}