{% extends 'base.html' %}

{% block content %}
{% include 'wordpress/wordpress-header.html' %}
{% load static %}
<div class="container">
    <h1>Modificar página Wordpress</h1>

    <p>Rellene los datos del formulario para obtener la información</p>
    <form action='.' method='POST'>  {% csrf_token %}
        <div class="mb-3">
            {{ form }}
        </div>        
        <input type='submit' value='Actualizar' class="btn btn-primary" />
    </form>
    <div class='progress-wrapper'>
      <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
    </div>
    <div id="progress-bar-message"></div>
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>

    {% if task_id %}
    <script>
        // vanilla JS version
        document.addEventListener("DOMContentLoaded", function () {
          var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
          CeleryProgressBar.initProgressBar(progressUrl);
        });
    </script>
    {% endif %}
</div>
{% endblock %}