{% extends 'base.html' %}

{% block content %}
{% include 'wordpress/wordpress-header.html' %}
{% load static %}
<div class="container">
    <h1>Descarga Wordpress</h1>
    <p>Extractor de información orientado a páginas web que usan el CMS Wordpress y que tienen activada la permisividad
        de la API de manera pública.</p>
    <hr class="my-4">

    <h2>Formulario</h2>
    <p>Rellene los datos del formulario para obtener la información:</p>
    <form action='.' method='POST'>  {% csrf_token %}
        <div class="mb-3">
            <div class="form-group">
                {{ form.url.errors }}
                {{ form.url.label_tag }}
                {{ form.url }}
            </div>
            <hr class="my-3">
            <fieldset>
            <div>
               <p>Enlace a la fuente de fakenews (Opcional)</p>
                <h3>Primer Enlace</h3>
               <div class="row">
                  <div class="col-2">
                    {{ form.f_source_type.errors }}
                    {{ form.f_source_type.label_tag }}
                    {{ form.f_source_type }}
                  </div>
                   <div class="col-6">
                    {{ form.f_source_pattern.errors }}
                    {{ form.f_source_pattern.label_tag }}
                    {{ form.f_source_pattern }}
                  </div>
                   <div class="col-2" id="f_entire_link">
                    {{ form.f_source_entire_link.errors }}
                    {{ form.f_source_entire_link.label_tag }}
                    {% for radio in form.f_source_entire_link %}
                        <div class="form-check">
                            {{ radio }}
                        </div>
                    {% endfor %}
                  </div>
                </div>
                <h3>Segundo Enlace</h3>
                <div class="row">
                  <div class="col-2">
                    {{ form.s_source_type.errors }}
                    {{ form.s_source_type.label_tag }}
                    {{ form.s_source_type }}
                  </div>
                   <div class="col-6">
                    {{ form.s_source_pattern.errors }}
                    {{ form.s_source_pattern.label_tag }}
                    {{ form.s_source_pattern }}
                  </div>
                    <div class="col-2" id="s_entire_link">
                    {{ form.s_source_entire_link.errors }}
                    {{ form.s_source_entire_link.label_tag }}
                    {% for radio in form.s_source_entire_link %}
                        <div class="form-check">
                            {{ radio }}
                        </div>
                    {% endfor %}
                  </div>
                </div>
            </div>
            </fieldset>

        </div>

        <input type='submit' value='Crear' class="btn btn-primary"/>

        {% for task_id in task_ids %}
            <div class='progress-wrapper-{{ forloop.counter0 }}'>
                <div id='progress-bar-{{ forloop.counter0 }}' class='progress-bar-{{ forloop.counter0 }}' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
                <div id="progress-bar-message-{{ forloop.counter0 }}">Waiting for progress to start...</div>
            </div>
        {% endfor %}
        <script src="{% static 'celery_progress/celery_progress.js' %}"></script>

        <script>
        // vanilla JS version
        document.addEventListener("DOMContentLoaded", function () {
            const task_urls = [
                {% for task_id in task_ids %}
                   "{% url 'celery_progress:task_status' task_id %}",
                {% endfor %}];

            for (var i = 0; i < task_urls.length; i++) {
                CeleryProgressBar.initProgressBar(task_urls[i], {
                    progressBarId: "progress-bar-" + i,
                    progressBarMessageId: "progress-bar-message-" + i,
                    onSuccess: 'ok'
                });
            }

        });
        </script>
    </form>
<hr class="my-4">
    <h2>Método de uso</h2>
    <p>La forma de extraer posts de la web a escanear se basa en el uso que dispone la API pública de Wordpress.</p>
    <p>Si se desea comprobar previamente que el uso de la API se encuentra activa en el dominio que usa el CMS
        de Wordpress (ejemplo a díá de hoy: www.snopes.com), es necesario acudir a la página y añadir a su dominio el
        siguiente path "/wp-json/wp/v2/". Si al acceder al path, la página web no muestra ningun error
        (e.g. error 404, página no encontrada), sino que por el contrario se muestra un fichero de tipo JSON con los
        datos sobre los diferentes endpoints, es posible extraer información sobre la misma.</p>
    <p>Simplemente, para usar el formulario añada el dominio de la página a extraer información</p>

</div>

<script src="{% static 'forms.js' %}"></script>
{% endblock %}