{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container py-5">
    <h1 class="pb-2 border-bottom">Data Extractor</h1>
    <div class="row g-5 py-5">
        <div class="col-md-4 d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">            
            <img src="{% static 'Wordpress-Logo.svg' %}" alt="Wordpress" width="32" height="32">
          </div>
          <div>
            <h2>Wordpress Extractor</h2>
            <p>Extractor de información orientado a páginas web que usan el CMS Wordpress y que tienen activada
            la permisividad de la API de manera pública.</p>
            <a href="/fakenews/wordpress/list/" class="btn btn-primary">
              Acceder
            </a>
          </div>
        </div>

        <div class="col-md-4 d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <img src="{% static 'Search_Icon.svg' %}" alt="Search" width="32" height="32">
          </div>
          <div>
            <h2>Scrapper Extractor</h2>
            <p>Extractor de información orientado a páginas web que contienen artículos, a modo de noticias,
                y que siguen un patrón orientado a elementos HTML y/o CSS en cuanto a la identificación de sus enlaces,
                título de los artículos y fecha de los mismos.</p>
            <a href="/fakenews/soup/list/" class="btn btn-primary">
                Acceder
            </a>
          </div>
        </div>
        
        <div class="col-md-4 d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <img src="{% static 'Twitter_icon.svg' %}" alt="Search" width="32" height="32">
          </div>
          <div>
            <h2>Social Network</h2>
            <p>Extractor de información de tweets, recogidos mediante la API de Twitter(v2),
                en base a un texto de búsqueda, y recogiendo información relacionada con los perfiles de usuario y
                los mismos tweets publicados.</p>
            <a href="/twitter/list/" class="btn btn-primary">
                Acceder
            </a>
          </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row g-5 py-5">
        <div class="col-md-4 d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <img src="{% static 'noun_stats.svg' %}" alt="Search" width="32" height="32">
          </div>
          <div>
            <h2>Clasificador</h2>
            <p>Clasificador (seleccionable por modelo) de los tweets almacenados que ofrece un porcentaje de
                difusión de fake news según el texto del tweet.</p>
            <a href="/rankingtweets/" class="btn btn-primary">
                Acceder
            </a>
          </div>
        </div>

        <div class="col-md-4 d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
              <img src="{% static 'file-csv.svg' %}" alt="Search" width="32" height="32">
            </div>
            <div>
              <h2>Descarga de CSV</h2>
              <p>Listados de ficheros CSV con posibilidad de descargar de la información perteneciente a los extractores.</p>
              <a href="/csv/" class="btn btn-primary">
                  Acceder
              </a>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}