{% extends 'base.html' %}

{% block content %}
{% include 'soups/soup-header.html' %}
{% load static %}
<div class="container">
    <h1>Modificar página Scrapping</h1>

    <p>Rellene los datos del formulario para obtener la información</p>
    <form action='.' method='POST'>  {% csrf_token %}
        <div class="mb-3">
            <div class="row">
                <div class="form-group">
                  {{ form.url.errors }}
                  {{ form.url.label_tag }}
                  {{ form.url }}
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                  {{ form.link_class.errors }}
                  {{ form.link_class.label_tag }}
                  {{ form.link_class }}
                </div>
            </div>
            <div class="row">
              <div class="col-1">
                {{ form.date_type.errors }}
                {{ form.date_type.label_tag }}
                {{ form.date_type }}
              </div>
              <div class="col-8">
                {{ form.date_id.errors }}
                {{ form.date_id.label_tag }}
                {{ form.date_id }}
              </div>
            </div>
            <div class="row">
                <div class="form-group">
                  {{ form.body_class.errors }}
                  {{ form.body_class.label_tag }}
                  {{ form.body_class }}
                </div>
            </div>
                        <hr class="my-3">
            <fieldset>
            <div>
               <p>Enlace a la fuente de fakenews (Opcional)</p>
                <h3>Primer Enlace</h3>
               <div class="row">
                  <div class="col-2">
                    {{ form.f_source_type.errors }}
                    {{ form.f_source_type.label_tag }}
                    {{ form.f_source_type }}
                  </div>
                   <div class="col-6">
                    {{ form.f_source_pattern.errors }}
                    {{ form.f_source_pattern.label_tag }}
                    {{ form.f_source_pattern }}
                  </div>
                   <div class="col-2" id="f_entire_link">
                    {{ form.f_source_entire_link.errors }}
                    {{ form.f_source_entire_link.label_tag }}
                    {% for radio in form.f_source_entire_link %}
                        <div class="form-check">
                            {{ radio }}
                        </div>
                    {% endfor %}
                  </div>
                </div>
                <h3>Segundo Enlace</h3>
                <div class="row">
                  <div class="col-2">
                    {{ form.s_source_type.errors }}
                    {{ form.s_source_type.label_tag }}
                    {{ form.s_source_type }}
                  </div>
                   <div class="col-6">
                    {{ form.s_source_pattern.errors }}
                    {{ form.s_source_pattern.label_tag }}
                    {{ form.s_source_pattern }}
                  </div>
                    <div class="col-2" id="s_entire_link">
                    {{ form.s_source_entire_link.errors }}
                    {{ form.s_source_entire_link.label_tag }}
                    {% for radio in form.s_source_entire_link %}
                        <div class="form-check">
                            {{ radio }}
                        </div>
                    {% endfor %}
                  </div>
                </div>
            </div>
            </fieldset>
        </div>
        <input type='submit' value='Actualizar' class="btn btn-primary" />

        {% if task_id %}
            <div class='progress-wrapper'>
                <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
            </div>
            <div id="progress-bar-message">Waiting for progress to start...</div>
        {% endif %}
        <script src="{% static 'celery_progress/celery_progress.js' %}"></script>

        {% if task_id %}
        <script>
        // vanilla JS version
        document.addEventListener("DOMContentLoaded", function () {
          var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
          CeleryProgressBar.initProgressBar(progressUrl);
        });
        </script>
        {% endif %}
    </form>
</div>
{% endblock %}